body {
  background-image: url("/peon/imagen/Fondo-Interfaz-Peon.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.titulo {
  color: white;
  text-shadow: 3px 3px 10px black;
}

.tarjeta {
  transition: 0.3s;
  border: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.tarjeta:hover {
  transform: translateY(-10px);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.modo-oscuro {
  background: #121212;
  color: white;
}

.modo-oscuro .card {
  background: #1f1f1f;
  color: white;
}
