#passwordStrength {
  font-weight: bold;
  margin-top: 5px;
}

.password-checklist {
  gap: 10px;
  margin-top: 5px;
  font-size: 0.8rem;
}

.password-checklist span {
  color: red;
}

.password-checklist span.ok {
  color: #2e7d32;
}
.fuerte {
  color: green;
}

.media {
  color: orange;
}

.debil {
  color: red;
}

#errorGeneral {
  color: red;
}

.success-msg {
  color: green;
  font-weight: bold;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url(/imgs/WhatsApp-Image-2020-10-03-at-11.18.04.webp) no-repeat
    center center/cover;
}

/* NAVBAR */
.navbar {
  background: #1b5e20;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

/* OVERLAY */
.overlay {
  background: rgba(0, 0, 0, 0.4);
  /* height: calc(100vh - 60px); */
  padding: 25px;
}

/* CONTENEDOR */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* FORM BOX */
.form-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.2s ease;
}

.form-box:hover {
  transform: translateY(-5px);
}

/* TITULO */
h1 {
  color: #1b5e20;
  margin-bottom: 20px;
}

/* INPUTS */
input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* BOTON */
button {
  width: 100%;
  padding: 10px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #1b5e20;
}

/* TEXTO */
.extra {
  margin-top: 10px;
  font-size: 14px;
}

.extra a {
  color: #2e7d32;
  text-decoration: none;
}

.extra a:hover {
  text-decoration: underline;
}

footer {
  /* MEJORA: Un color verde tierra suave que combina con el concepto sin ser tan brillante como el anterior */
  background-color: #e8f5e9;
  color: #2e7d32;
  padding: 15px;
  text-align: center;
  font-weight: 500;
}
